<footer>

  <div class="contact-wrapper"{% for item in site.posts %}{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}{% if thecycle == 'even' %} style="background-color: #f7f7f7";{% endif %}{% endfor %}>

    <section class="contact">
      <h1>LET'S WORK TOGEHTER</h1>
      <p>I'm currently working full-time as a Front End Devloper &amp; Web Designer for <a href="http://www.deepspacerobots.com/">Deep Space Robots</a> but am always interested in hearing about new projects looking for young talent! If you'd like to work with me, for whatever reason, don't hesitate to <a href="mailto:slightlytyler@gmail.com">contact me</a>.<br><br>
      Thanks for stopping by!</p>
      <div class="social">
        <a href="mailto:slightlytyler@gmail.com" class="icon-mail"><span>EMAIL</span></a>
        <a href="http://linkedin.com/pub/tyler-martinez/90/8a0/a14/" class="icon-linkedin"><span>LINKEDIN</span></a>
        <a href="https://github.com/slightlytyler" class="icon-github"><span>GITHUB</span></a>
        <a href="https://www.behance.net/slightlytyler" class="icon-behance"><span>BEHANCE</span></a>
      </div>
      <a class="btn btn-up to-top">BACK TO TOP</a>
    </section>

  </div>

  <section class ="copy"{% if thecycle == 'odd' %} style="background-color: #f7f7f7";{% endif %}>
    <span>slightlytyler &nbsp // &nbsp Hand crafted pixels n' code &nbsp // &nbsp © 2014</span>
  </section>

  <script>
  $(".to-top").click(function() {
    $("html, body").animate({ scrollTop: 0 }, "slow");
    return false;
  });

  $(".contact-link").click(function() {
    $("html, body").animate({ scrollTop: $(document).height() }, "slow");
    return false;
  });
  </script>

 </footer>