<section class="header">

  <div class="intro">

    <a href="/about"><span><h3>I AM</h3></span></a>
    <h1><a href="/">TYLER MARTINEZ</a></h1>
    <h2>A Designer / Developer living in Dallas, Texas</h2>

  </div>

  <nav>

    <ul>
      {% assign url = page.url | remove: 'index.html' %}
      {% assign urlalt = page.url | remove: '/index.html' %}

       {% for link in site.navigation | limit: 2 %}

        <li>
          <a{% if url == link.url or urlalt == link.url %} class="current"{% endif %} href="{{ link.url }}">{{ link.text }}</a>
        </li>
      {% endfor %}

      <li class="contact-link">CONTACT</li>

    </ul>

  </nav>

</section>