.about{
  @include outer-container;
  max-width: 100%;
  text-align: center;

  h1{
    text-transform: uppercase;
    font-size: em(18);
    letter-spacing: .15em;
  }

  h2{
    text-transform: uppercase;
    font-size: em(14);
    letter-spacing: .15em;
  }

  h3{
    font-size: em(14);
    @include body;
  }

  h4{
    text-transform: uppercase;
    font-size: em(14);
    letter-spacing: .15em;
  }

  h5{
    font-size: em(12);
    color: $theme;
    text-transform: uppercase;
    letter-spacing: .15em;
  }

  h6{
    font-size: em(14);
    letter-spacing: .15em;
    margin-bottom: em(8);
  }

  p{
    color: $body;
  }
}

.about-me{
  max-width: 500px;
  margin: 0 auto em(56) auto;
}

.me{
  @include span-columns(12);

  padding: 0 em(8);

  @include media($break-m){
    padding: 0;
  }

  img{
    max-width: 266px;
    @include border-radius(50%);
  }

  h1{
    margin-top: em(28);
  }

  p{
    line-height: em(21);

    a{
      color: $theme;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.bulb{
  width: 60px !important;
  height: 60px !important;
  margin: 20px;
}

.strengths{
  @include span-columns(12);
  background-color: $eggshell-2;
  padding: em(14) em(28);

  p{
    text-align: center;

    @include media($break-m){
      text-align: left;
    }
  }

  embed{
    max-width: 100px;
    max-height: 100px;
  }

}

.title{
  text-align: center;
  @include span-columns(12);
  letter-spacing: .15em;
  text-size: em(14);
}

.my-strengths{
  @include span-columns(12);

  @include flex;
  @include flex-flow(row,wrap);
  @include flex-justify(center);

  @supports not (flex-wrap: wrap){
    display: inline-block;
  }

  @include media($break-m){
    @supports not (flex-wrap: wrap){
      @include flex;
      text-align: center
    }
  }
}

.strength-col{
  @include span-columns(12);

  @supports not (flex-wrap: wrap){
    display: inline-block;
  }

  @include media($break-m){
    @include span-columns(4);
  }

  @include media($break-xl){
    @include span-columns(3);
  }

}

.resume{
  @include span-columns(12);
  padding: 0 em(16);

  @include flex;
  @include flex-flow(row,wrap);
  @include flex-justify(center);

  @supports not (flex-wrap: wrap){
    text-align: center !important;
    display: inline-block;
  }

  & > div{
    @supports not (flex-wrap: wrap){
      display: inline-block !important;
    }
  }

  h2{
      border-bottom: 2px solid $eggshell-2;
    }

  p{
    text-weight: ligher;
  }

  .experience{
    text-align: left;
    @include span-columns(12);
    margin-right: 0;
    padding: 0 em(8);

    @include media($break-m){
      @include span-columns(8);
      padding: 0
    }

     @include media($break-l){
      @include span-columns(6);
    }
}

  .email{

    h3{
      float: left;
      margin-right: em(8);
    }
    p{
      float: left;
      margin-top: em(11);
    }
  }
}

.statement{
  @include span-columns(10);  
  float: right;
  padding-left: em(13.625);
  margin-bottom: em(28);
}

.skills{
    @include span-columns(12);
    text-align: left;

    @include media($break-m){
      @include span-columns(4)
    }

    @include media($break-l){
      @include span-columns(3)
    }

    ul{
      list-style: inside;
      text-align: left;
      font-size: em(14);
      letter-spacing: .15em;
      font-weight: lighter;
      color: $body;
    }
}

.skill-set{
  @include span-columns(10);
  padding-left: $gutter;
  float: right;

  &:nth-child(4){
    margin-bottom: em(56);
  }

  &:last-child{
    margin-bottom: em(56);
  }
    p{
      margin: 0;
    }
}

.job{
  @include span-columns(12);
  border-bottom: 2px solid $eggshell-2;
  margin-bottom: em(14);

  &:last-child{
    border: 0;
  }

  .date{
    @include span-columns(2);
    font-size: em(10);
    margin-top: em(22);

    @include media($break-m){
      font-size: em(16);
      margin-top: em(9);
    }
  }

  .job-info{
    @include span-columns(10);  
  }

  h4{
    margin: 0;
    margin-top: em(14);
  }

  h5{
    margin: 0;
    margin-top: em(7);
  }
}

.uni{
  color: $body;
  margin: 0;
  margin-bottom: em(0) !important;
}

.uni + p{
  margin: 0;
  margin-bottom: em(50);
}

.download-wrapper{
  text-align: center;
  margin-bottom: em(28);
}