.contact-wrapper{
  padding: em(14) em(8) em(28) em(8);
}

.contact{
  @include outer-container;
  text-align: center;
  margin-bottom: em(28);

  h1{
    font-size: em(14);
    letter-spacing: .15em;
  }

  p{
    font-size: em(14);
    line-height: em(28);
    font-weight: lighter;
    color: $body;
    max-width: 500px;
    margin: 0 auto;

    a{
      color: $theme;
    } 
  }
}

.social{
  @include span-columns(12);
  margin-bottom: em(56);
  font-size: em(14);
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
  margin-left: em(36);
  margin-top: em(28);

  @include media($break-s){
    margin-left: em(56);
  }
  @include media($break-m){
    margin-left: em(14);
  }

  span:hover{
    border-bottom: 2px solid $dark;
  }

  a{
    margin-right: em(0);
    visibility: hidden;

    @include media($break-m){
      visibility: visible;
      margin-right: em(28);
    }

    &:last-child{
      margin-right: 0;
    }

    &:before{
      margin-right: em(14);
      font-size: em(28);
      visibility: visible;
      border: none;

      @include media($break-m){
        font-size: em(16);
        border: 0 !important;
      }
    }
  }
}

.copy{
  text-align: center;
  @include outer-container;
  max-width: 100%;
  font-size: em(12);
  padding: em(8) 0;
  color: $body;
  z-index: 1000;
  position: relative;

  span{
    display: inline;
  }
}