.header{
  @include outer-container;
  max-width: 100%;
}

.current{
  border-bottom: 2px solid $dark;
}

.intro{
  background-color: $theme;
  min-height: em(270);
  text-align: center;
  padding: 0 em(14) em(14) em(14);

  span{
    display: inline-block;

    background-color: white;
    width: 54px;
    height: 54px;
    @include border-radius(50%);

    @include transition(all, .3s);

    margin-top: em(35);

    &:hover{
      -webkit-transform: translateY(em(-4));
    }

    h3{
      color: $theme;
      font-size: em(17);
      font-weight: lighter;
    }
  }

  h1{
    color: white;
    font-size: em(42);
    font-weight: bold;
    padding-bottom: em(2);
    border-bottom: 2px solid white;
    max-width: 600px;
    margin: em(4) auto 0 auto;
    letter-spacing: .1em;

    @include media($break-s){
      font-size: em(56);
    }
  }

  h2{
    color: white;
    font-weight: 200;
    font-size: em(18);
    @include body;
  }
}

nav{
  font-weight: 700;
  font-size: em(14);
  border-bottom: 2px solid $eggshell-2;
  color: $dark;
  @include body;
  margin-bottom: em(42);

  ul{
    list-style: none;
    padding: em(21) 0;
  }

  li{
    display: inline;
    text-transform: uppercase;
    cursor: pointer;

    &:nth-child(2){
      margin: 0 em(56);
    }

    a:hover{
      border-bottom: 2px solid $dark;
    }
  }
}