// Omega Reset

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// Calc

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression}); 
} 

// Rounded Border 

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

// Inner Shadow

@mixin inset-shadow{
  -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.4);
   box-shadow:         inset 0 0 10px rgba(0,0,0,.4);
}

// No Highlighting

@mixin highlight-none{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Flex-box

@mixin flex{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -moz-box-flex: 1;
}

@mixin flex-flow($direction, $wrap){
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
  -webkit-flex-wrap: $wrap;
  -mox-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
   flex-wrap: $wrap;
}

@mixin flex-justify($justify){
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify; 
}

@mixin flex-align($align){
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align; 
}