<!DOCTYPE html>
<html lang="en">
  
  <link rel="icon" type="image/png" href="{{ relative }}/img/favicon.ico">
  
  <header>
  
    <title>slightlytyler</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="The portfolio of Tyler Martinez.">
    <meta name="author" content="Tyler Martinez">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
    {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

    <!--CSS-->

    <link rel="stylesheet" href="{{ relative }}/css/main.css" type="text/css" media="screen">

    <!--Fonts-->

    <link href='http://fonts.googleapis.com/css?family=Lato:200,400,700|Raleway:400,500,800' rel='stylesheet' type='text/css'>

  </header>


  <body>
    
    {% include header.html %}

    {{ content }}

    <!--JS-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

  </body>

  {% include footer.html %}

</html>