---
layout: default
---

<div class="post">
  <section class="info">

    <h1>{{ page.title }}</h1>
    <p>{{ content }}</p>
    <h2>{{ page.note }}</h2>

  </section>

  <section class="pieces {% if page.margin-top != nil %}with-pad{% else %}without-pad{% endif %}{% if page.seperate != nil %} seperate{% endif %}">

    {% for piece in page.pieces %}
      <img src="{{ piece }}"/>
    {% endfor %}

    {% for track in page.tracks %}
      <iframe  class="track" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ track }}&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
    {% endfor %}

  </section>

</div>